.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;
}

.navbarhidden {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  transform: translateY(-100%);
  transition: transform 0.2s ease-in-out;
}

.navlist {
  position: sticky;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navitem {
  list-style: none;
  display: block;
  margin-right: 50px;
  position: relative;
  max-width: 15%;
  padding: 20px 20px;
}

.navlink {
  color: black;
  text-decoration: none;
}

.navlink:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}
