html,
body {
  padding: 0;
  margin: 0;
  font-family: "Monument", serif;
  line-height: 1.6;
  font-size: 24px;
  background-color: #fef3e4;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

@font-face {
  font-family: "Monument";
  src: url("../public/fonts/MonumentExtended-Regular.woff") format("woff");
}
@font-face {
  font-family: "RightGrotesk";
  src: url("../public/fonts/RightGrotesk-WideMedium.woff") format("woff");
  font-weight: bold;
}
